@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato-Medium";
  src: url("../fonts/Lato-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato-SemiBold";
  src: url("../fonts/Lato-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir Next World Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url("../fonts/georgia.ttf") format("truetype");
  /* font-weight: 400; */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "georgia-700";
  src: url("../fonts/georgiab.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family: "Lato", sans-serif;
  --font-family-500: "Lato-Medium", sans-serif;
  --font-family-600: "Lato-SemiBold", sans-serif;
  --second-family: "Georgia", sans-serif;
  --third-family: "Avenir", sans-serif;
  --primary: #01996d;
}


html {
  box-sizing: border-box;
}


* {
  margin: 0;
  padding: 0;
  transition: .5s all;
  font-family: var(--font-family);
}

p {
  font-family: var(--font-family);
  font-size: 20px;
}

h1 {
  font-family: 'georgia-700';
  font-weight: 700;
  font-size: 65px;
  line-height: 75px;
}

a {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: #292929;
  white-space: nowrap;
  text-decoration: none;
}

a:hover {
  color: var(--primary);
}

button {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 4px;
  padding: 13px 50px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  color: black;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: normal
}

.header {
  border: 1px solid #d6d6d6;
}

ul {
  list-style: none;
  display: flex;
}

.header_block {
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 85px;
}

.header_block>* {
  height: inherit;
}

.header_block>ul {
  display: flex;
  padding-right: 23.6%;
  gap: 21%;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.actions {
  align-items: center;
  display: flex;
  gap: 35px;
}

.slide1 {
  width: inherit;
  height: 886px;
  background-image: url(../img/BG.jpg);
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: center;
  background-size: cover;
}

.slide1_block {
  font-family: var(--font-family);
  width: 32.5%;
  margin-top: 12.5%;
}

.slide1_block>h1 {
  color: var(--primary);
}

.slide1_block>p {
  color: #484848;
  margin-top: 31px;
  line-height: 28px;
  width: 92%;
}

.slide1_block>button {
  margin-top: 53px;
  padding: 20px 50px;
}


@media screen and (max-width: 1400px) {
  .container {
    width: 1100px !important;
  }

  .slide1_block {
    width: 40%;
  }
}

@media screen and (max-width: 1100px) {
  .container {
    width: 90% !important;
  }

  button {
    padding: 13px;
    font-size: 1rem;
  }

  a {
    font-size: 1rem;
  }

  .slide1_block {
    width: 60%;
  }
}

@media screen and (max-width: 900px) {
  .container {
    width: 95% !important;
  }
}

@media screen and (max-width: 730px) {
  .header_block>ul {
    gap: 13%;
  }
}

@media screen and (max-width: 691px) {
  .container {
    justify-content: center;
  }

  .header_block {
    flex-wrap: wrap;
    justify-content: center;
  }

  .logo {
    margin-right: 3%;
  }

  .slide1_block {
    margin-top: 50%;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slide1_block>p,
  .slide1_block>h1 {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .logo {
    justify-content: center;
    width: 100vw;
    margin: 0;
  }

  .header_block>ul {
    width: 100vw;
    padding-right: 0;
    gap: 0;
    justify-content: space-between;
    padding: 0 3%;
  }
}