@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato-Medium";
  src: url("../fonts/Lato-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato-SemiBold";
  src: url("../fonts/Lato-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir Next World Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url("../fonts/georgia.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "georgia-700";
  src: url("../fonts/georgiab.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family: "Lato", sans-serif;
  --font-family-500: "Lato-Medium", sans-serif;
  --font-family-600: "Lato-SemiBold", sans-serif;
  --second-family: "Georgia", sans-serif;
  --third-family: "Avenir", sans-serif;
  --primary: #01996d;
}


html {
  box-sizing: border-box;
}


* {
  margin: 0;
  padding: 0;
  transition: .5s all;
  font-family: var(--font-family);
}

p {
  font-family: var(--font-family);
  font-size: 20px;
}

h1,
h2 {
  font-family: 'georgia-700';
  font-weight: 700;
}

a {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: #292929;
  white-space: nowrap;
  text-decoration: none;
}

a:hover {
  color: var(--primary);
}

button {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 4px;
  padding: 13px 50px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  color: black;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: normal
}

.header {
  border: 1px solid #d6d6d6;
}

ul {
  list-style: none;
  display: flex;
}

.header_block {
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 85px;
}

.header_block>* {
  height: inherit;
}

.header_block>ul {
  display: flex;
  padding-right: 23.6%;
  gap: 21%;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.actions {
  align-items: center;
  display: flex;
  gap: 35px;
}

.slide1 {
  width: inherit;
  height: 886px;
  background-image: url(../img/BG.jpg);
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: center;
  background-size: cover;
}

.slide1_block {
  font-family: var(--font-family);
  width: 32.5%;
  margin-top: 12.5%;
}

.slide1_block>h1 {
  color: var(--primary);
  font-size: 65px;
  line-height: 75px;
}

.slide1_block>p {
  color: #484848;
  margin-top: 31px;
  line-height: 28px;
  width: 92%;
}

.slide1_block>button {
  margin-top: 53px;
  padding: 20px 50px;
}

.slide2_block {
  margin-top: 11.7%;
}

.top_desc {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.top_desc>.left {
  width: 42%;
  padding-top: 14px;
}

.top_desc>.left>span {
  font-family: var(--font-family-600);
  font-size: 24px;
  color: #424242;
}

.top_desc>.left>h2 {
  color: var(--primary);
  font-size: 50px;
  line-height: 79px;
}

.top_desc>p {
  width: 47.7%;
  line-height: 30px;
  padding-bottom: 15px;
}

.slide2_block>.cards {
  display: flex;
  gap: 6.9%;
  margin-top: 5.5%;
  flex-wrap: wrap;
  justify-content: center;
}

.cards>.card {
  width: 390px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.card:nth-child(2) {
  margin-top: 284px;
}

.card:nth-child(3) {
  margin-top: 53px;
}

.cards>.card>.number {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 150px;
  text-align: left;
  color: rgba(1, 153, 109, 0.2);
}

.cards>.card>h3 {
  font-family: "georgia-700";
  font-size: 30px;
  text-align: center;
  color: #000;
  position: relative;
  bottom: 56px;
  right: 16px;
}

.cards>.card>img {
  width: 390px;
  height: fit-content;
  margin-top: 12%;
}

.cards>.card:nth-child(3)>p {
  margin-top: -5px;
  width: 105%;
}

.cards>.card:nth-child(1)>img {
  margin-top: 16%;
}

.cards>.card:nth-child(2)>h3 {
  right: -37px;
}

.cards>.card>p {
  margin-top: 4px;
  line-height: 29.3px;
}

.slide3 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 37px;
  background-color: #245852;
  width: inherit;
}

.slide3_block {
  display: flex;
  align-items: center;
  padding-top: 227px;
  padding-bottom: 168px;
  margin: 0 auto;
}

.slide3_block>.text {
  display: flex;
  color: white;
  flex-direction: column;
  height: 356px;
}

.slide3_block>.text>h2 {
  font-family: "georgia-700";
  font-size: 50px;
  line-height: 78px;
}

.slide3_block>.text>p {
  font-family: var(--font-family-600);
  font-size: 25px;
  margin-top: 35px;
}

.slide3_block>.text>button {
  margin-top: 63px;
  padding: 19px 49px;
  width: max-content;
}

.media {
  position: relative;
}

.media>img {}

.media>img.start {
  position: absolute;
  top: 41.5%;
  left: 47%;
}



@media screen and (max-width: 1514px) {
  .slide3_block>.text>h2 {
    text-align: center;
  }

  .slide3_block {
    flex-direction: column;
  }

  .text {
    align-items: center;
  }

  .media {
    justify-content: center;
    display: flex;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    width: 1100px !important;
  }

  .slide1_block {
    width: 40%;
  }
}

@media screen and (max-width: 1100px) {
  .container {
    width: 90% !important;
  }

  button {
    padding: 13px;
    font-size: 1rem;
  }

  a {
    font-size: 1rem;
  }

  .slide1_block {
    width: 60%;
  }

  .slide2_block {
    width: inherit;
    margin: 0 auto;
  }

  .slide2_block>.top_desc {
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .slide2_block>.top_desc>p,
  .slide2_block>.top_desc>.left {
    width: 80%;
  }

  .slide2_block>.top_desc>.left {
    padding-top: 10%;
  }
}

@media screen and (max-width: 1049px) {
  .container {
    width: 90% !important;
  }

  .slide2_block>.cards>.card {
    margin-top: 10%;
  }

  .video {
    width: 100%;
  }

  .slide3_block>.text>h2 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 900px) {
  .container {
    width: 95% !important;
  }
}

@media screen and (max-width: 730px) {
  .container {
    width: 90% !important;
  }

  .header_block>ul {
    gap: 13%;
  }

  .media {
    padding-top: 5%;
  }
}

@media screen and (max-width: 691px) {
  .container {
    justify-content: center;
    width: 90% !important;
  }

  .header_block {
    flex-wrap: wrap;
    justify-content: center;
  }

  .logo {
    margin-right: 3%;
  }

  .slide1_block {
    margin-top: 42%;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slide1_block {
    text-align: center;
  }

  .top_desc>.left>h2 {
    line-height: 53px;
    font-size: 2rem !important;
  }
}

@media screen and (max-width: 591px) {
  .media {
    padding-top: 10%;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 90% !important;
  }

  .logo {
    justify-content: center;
    width: 100vw;
    margin: 0;
  }

  .header_block>ul {
    width: 100vw;
    padding-right: 0;
    gap: 0;
    justify-content: space-between;
    padding: 0 3%;
  }

  .slide2_block>.top_desc {
    gap: 30px;
  }

  .media>img.start {
    top: 50%;
    left: 49%;
    height: 40px;
  }

  .media {
    padding-top: 35%;
  }
}

@media screen and (max-width: 400px) {
  .container {
    width: 90% !important;
    /* padding-left: 8%; */
  }

  .slide1 {
    height: auto;
    padding-bottom: 20%;
  }

  .slide1_block>h1 {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 10%;
  }

  .slide2_block>.cards {
    width: 99% !important;
  }

  .card {
    width: inherit !important;
  }

  .card>img {
    width: 100% !important;
  }

  .media>img.start {
    top: 61%;
    left: 47%;
  }

  .slide3_block>.text>h2 {
    line-height: 58px;
  }
}